<div class="header">
    <div class="left">
        <a href="main.html" class="logo"><img src="assets/images/logo.png" alt="로고"></a>
        <a href="main.html" class="active">화이트보드</a>
        <a href="new_note.html">업로드</a>
        <a href="notes.html">노트 보관함</a>
        <a href="quiz.html">퀴즈</a>
        <a href="feedback.html">피드백 보관함</a>
    </div>
    <div class="right">
        <a href="mypage.html">마이페이지</a>
        <button onclick="logout()" class="logout-btn">로그아웃</button>
    </div>
</div>
